.footer {
    background-color: #282c34;
    color: #000000;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
  }
  
  .footer .highlight {
    font-weight: bold;
    color: #000000;
  }
  