<div class="conteiner">

    <div class="banner">
        <h1>Bem-Vindo a nossa loja!</h1>
        <p>Encontre as melhores camisas aqui e viva a magia do esporte!</p>
        <button class="btn">Ver Produtos</button>
    </div>
    
      <section class="featured-products">
        <h2>Produtos em Destaque</h2>
        <div class="products-grid">
          <div class="product-card">
            <img src="../../../../assets/alemamha.jpg"alt=" Produto 1"/>
            <h3>Camisa Falsa</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/caamisa 2.jpg" alt=" ">
            <h3>Camisa da Alemanha</h3>
            <p>R$ 199,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/imagem 3.jpg" alt="produto 3" />
            <h3>Camisa da Okaida</h3>
            <p>R$ 299,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/camisa 4.jpg" alt="Produto 1" />
            <h3>Camisa de Facção</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div><div class="product-card">
            <img src="../../../../assets/camisa 5.jpg" alt="Produto 1" />
            <h3>Camisa da Croacia</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div><div class="product-card">
            <img src="../../../../assets/camisa 6.jpg" alt="Produto 1" />
            <h3>Jersey do Brasil</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/camisa 7.jpg" alt="Produto 1" />
            <h3>Camisa da Paraiba</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/camisa 8.jpg" alt="Produto 1" />
            <h3>Camisa da Angola</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div>
          <div class="product-card">
            <img src="../../../../assets/camisa 9.jpg" alt="Produto 1" />
            <h3>Camisa do Peru</h3>
            <p>R$ 99,99</p>
            <button class="btn">Comprar</button>
          </div>
        </div>
      </section>
      <div class="texto">
        <h4>Compre Agora e Mostre sua Paixão
          Confira nossa coleção completa de camisas de time. Garantimos produtos 100% originais, preços competitivos e entrega rápida para todo o Brasil. Não perca tempo – escolha sua camisa favorita e vista a emoção do esporte! 🏆</h4>
    </div>
      <footer class="footer">
        <p>
          copyright ©
          <span class="highlight">Andrews Gomes</span> e
          <span class="highlight">Luan Taurino</span>
        </p>
      </footer>
    
    
</div>